.Footer {
	padding: 32px 16px 64px;
	max-width: 500px;
	margin: 32px auto;
	text-align: center;

	p {
		font-size: 0.875rem;
		color: hsl(230deg 75% 88%);

		&:not(:last-of-type) {
			margin-bottom: 1em;
		}

		a {
			font-weight: 700;
			text-decoration: none;
			color: hsl(230deg 90% 95%);

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
